<div class="wrapper">
  <img id="photo" class="image" src="" alt="photo">
</div>
<form name="addPhoto">
  <div class="d-flex w-50">
    <div>
      <input name="link" type="text" class="form-control" placeholder="link to add" aria-label="First name">
    </div>
    <div>
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>
</form>
<script src="/photo.js"></script>
